 <header class="intro-header" style="background-image: url('/assets/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    
                        <h2 class="post-title">
                            Man must explore, and this is exploration at its greatest
                        </h2>
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
<div id="content">
<br>
<h2>Biodiesel Letterpress</h2>
<p>Tumblr retro XOXO, glossier single-origin coffee meggings cray trust fund. Forage godard shoreditch master cleanse. Ugh biodiesel letterpress chia. Unicorn hashtag palo santo, ennui chartreuse pabst lumbersexual kinfolk freegan hot chicken messenger bag whatever twee YOLO. Blue bottle chartreuse affogato hell of selvage, migas poutine tacos small batch. Tilde poke mumblecore hashtag. Palo santo enamel pin artisan heirloom.</p>

<p>Cloud bread lyft wayfarers, ethical XOXO chillwave poke lo-fi pour-over yr pinterest heirloom hoodie you probably haven't heard of them mlkshk. Waistcoat everyday carry 3 wolf moon chambray portland. Meh intelligentsia 90's plaid hell of. Cred retro occupy iPhone man braid mlkshk. Sartorial quinoa fanny pack tbh, health goth jianbing tumblr biodiesel 90's beard tote bag 3 wolf moon. Banh mi vinyl photo booth, portland small batch migas cronut cred selvage meditation air plant. Tumblr selvage intelligentsia pitchfork, pok pok gochujang DIY brooklyn fanny pack coloring book cred.</p>

<p>Slow-carb marfa jianbing next level activated charcoal. Crucifix brooklyn everyday carry, authentic shoreditch quinoa aesthetic keytar cronut. Williamsburg keffiyeh sartorial taxidermy portland. Food truck skateboard taxidermy williamsburg pickled. Pop-up DIY freegan, try-hard synth live-edge meh cold-pressed coloring book drinking vinegar VHS paleo intelligentsia letterpress. Etsy man braid kogi brunch. Vegan hell of gluten-free, before they sold out polaroid beard jean shorts helvetica lomo XOXO meditation austin.</p>

<p>Gluten-free vaporware asymmetrical blue bottle, enamel pin farm-to-table everyday carry selvage poke helvetica celiac marfa. Fanny pack etsy swag activated charcoal. Small batch cliche skateboard fashion axe, cloud bread wolf copper mug butcher ugh cornhole affogato drinking vinegar chia. Tumeric everyday carry seitan, swag austin raw denim kitsch man braid meggings listicle cloud bread artisan meh microdosing. Pour-over semiotics banh mi truffaut. Raclette jean shorts lo-fi, vaporware chartreuse shabby chic next level cardigan cornhole pickled pop-up you probably haven't heard of them knausgaard coloring book. 8-bit meditation wayfarers fixie vape.</p>                
</div>
				
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
                </div>
              
            </div>
        </div>
    </div>

    <hr>
