
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <% @posts.each do |post| %>
                        <h2 class="post-title">
                            <%= link_to post.title ,post %>
                        </h2>
                    <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
					<br>
					<br>
					<% end %>
                </div>
				
			<br>
			<br>
			<br>
			<%= link_to "CREATE",  new_post_path %>
                <hr>